<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @artist.First_Name %>
</p>

<p>
  <b>Last name:</b>
  <%= @artist.Last_Name %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
